.form-group {

  .officer-row {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // gap: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    flex-direction: row;
    align-items: baseline;
    gap: 10px;

    .form-input {
      width: 100%;
      grid-column: span 3;
    }

    .action {
      display: flex;
      justify-content: end;
    }

  }

}
