.inValid{
  border-color: red;
}
.parent_option{
  font-weight: bolder !important;
}
.child_option{
  padding-left: 2rem !important;
  font-weight: 600 !important;

}
.sub_child_option{
  padding-left: 3rem !important;
}
